In [48]:
import requests
import pprint
import pandas as pd

In [53]:
user_agent = "Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.88 Safari/537.37"

response = requests.get('http://zoo-animal-api.herokuapp.com/animals/rand/10', headers={'User-Agent': user_agent})

In [54]:
print(response.status_code)

200

In [55]:
data = response.json()

In [56]:
data[1]

{'name': 'Dyeing Poison Dart Frog',
 'latin_name': 'Dendrobatus tinctorius',
 'animal_type': 'Amphibian',
 'active_time': 'Diurnal',
 'length_min': '0.13',
 'length_max': '0.2',
 'weight_min': '0.01',
 'weight_max': '0.01',
 'lifespan': '10',
 'habitat': 'Tropical rainforest',
 'diet': 'Insects, spiders, and other small invertebrates',
 'geo_range': 'South America',
 'image_link': 'https://upload.wikimedia.org/wikipedia/commons/1/17/Dendrobates_tinctorius_-_Karlsruhe_Zoo_05.jpg',
 'id': 63}

In [49]:
df = pd.json_normalize(data)

In [50]:
df.head()

,name,latin_name,animal_type,active_time,length_min,length_max,weight_min,weight_max,lifespan,habitat,diet,geo_range,image_link,id
0,North American River Otter,Lutra canadensis,Mammal,Nocturnal,3.2,3.9,11,33,11,"Freshwater rivers, streams, lakes, ponds, mars...","Fish, crayfish, ducklings, turtles, and other ...",Canada and the United States,https://upload.wikimedia.org/wikipedia/commons...,125
1,Coquerel's Sifaka,Propithecus coquereli,Mammal,Diurnal,1.4,1.7,7.5,11,11,Forest,"Leaves, fruit, and flowers",Northwestern Madagascar,https://upload.wikimedia.org/wikipedia/commons...,57
2,Snow Leopard,Uncia uncia,Mammal,Diurnal,2.5,4.9,77,120,14,"Mountain regions, including grassland, scrubla...",Primarily blue sheep and ibex; some other hoof...,Central Asia,https://upload.wikimedia.org/wikipedia/commons...,164
3,Andean Condor,Vultur gryphus,Bird,Diurnal,3.3,4.3,18,33,46,"Desert, mountains, grasslands and coasts",Carrion,Western South America,https://upload.wikimedia.org/wikipedia/commons...,14
4,Saddle-billed Stork,Ephippiorhynchus senegalensis,Bird,Diurnal,4.75,4.92,11,16,12,"Freshwater marshes, rivers, floodplains and la...","Mainly fish, some other small aquatic creature...",Central Africa,https://upload.wikimedia.org/wikipedia/commons...,156

In [76]:
df.shape

(10, 14)

In [58]:
df.dtypes

name           object
latin_name     object
animal_type    object
active_time    object
length_min     object
length_max     object
weight_min     object
weight_max     object
lifespan       object
habitat        object
diet           object
geo_range      object
image_link     object
id              int64
dtype: object

In [61]:
df.length_min = df.length_min.astype(float)

In [62]:
df.length_max = df.length_max.astype(float)

In [63]:
df.dtypes

name            object
latin_name      object
animal_type     object
active_time     object
length_min     float64
length_max     float64
weight_min      object
weight_max      object
lifespan        object
habitat         object
diet            object
geo_range       object
image_link      object
id               int64
dtype: object

In [65]:
df.weight_min = df.weight_min.astype(float)

In [66]:
df.weight_max = df.weight_max.astype(float)

In [69]:
df.dtypes

name            object
latin_name      object
animal_type     object
active_time     object
length_min     float64
length_max     float64
weight_min     float64
weight_max     float64
lifespan        object
habitat         object
diet            object
geo_range       object
image_link      object
id               int64
dtype: object

In [67]:
df.length_min.mean()

3.1550000000000002

In [70]:
df.length_min.std()

2.201571408486826

In [72]:
heavy = df.weight_min > 15
heavy

0    False
1    False
2     True
3     True
4    False
5     True
6    False
7     True
8    False
9     True
Name: weight_min, dtype: bool

In [74]:
df.agg(['min', 'max'])

,name,latin_name,animal_type,active_time,length_min,length_max,weight_min,weight_max,lifespan,habitat,diet,geo_range,image_link,id
min,African Pygmy Falcon,Alouatta caraya,Bird,Diurnal,0.6,0.7,0.1,0.16,11,"Desert, mountains, grasslands and coasts",Carrion,Canada and the United States,https://upload.wikimedia.org/wikipedia/commons...,6
max,Snow Leopard,Vultur gryphus,Reptile,Nocturnal,7.0,8.6,400.0,850.00,7,Tropical forest,Primarily blue sheep and ibex; some other hoof...,Western South America,https://upload.wikimedia.org/wikipedia/commons...,164

In [75]:
df

,name,latin_name,animal_type,active_time,length_min,length_max,weight_min,weight_max,lifespan,habitat,diet,geo_range,image_link,id
0,North American River Otter,Lutra canadensis,Mammal,Nocturnal,3.20,3.90,11.0,33.00,11,"Freshwater rivers, streams, lakes, ponds, mars...","Fish, crayfish, ducklings, turtles, and other ...",Canada and the United States,https://upload.wikimedia.org/wikipedia/commons...,125
1,Coquerel's Sifaka,Propithecus coquereli,Mammal,Diurnal,1.40,1.70,7.5,11.00,11,Forest,"Leaves, fruit, and flowers",Northwestern Madagascar,https://upload.wikimedia.org/wikipedia/commons...,57
2,Snow Leopard,Uncia uncia,Mammal,Diurnal,2.50,4.90,77.0,120.00,14,"Mountain regions, including grassland, scrubla...",Primarily blue sheep and ibex; some other hoof...,Central Asia,https://upload.wikimedia.org/wikipedia/commons...,164
3,Andean Condor,Vultur gryphus,Bird,Diurnal,3.30,4.30,18.0,33.00,46,"Desert, mountains, grasslands and coasts",Carrion,Western South America,https://upload.wikimedia.org/wikipedia/commons...,14
4,Saddle-billed Stork,Ephippiorhynchus senegalensis,Bird,Diurnal,4.75,4.92,11.0,16.00,12,"Freshwater marshes, rivers, floodplains and la...","Mainly fish, some other small aquatic creature...",Central Africa,https://upload.wikimedia.org/wikipedia/commons...,156
5,Radiated Tortoise,Geochelone radiate,Reptile,Diurnal,1.10,1.30,30.0,35.00,50,Dry woodlands,"Grass, fruit, and cactus",Southern Madagascar,https://upload.wikimedia.org/wikipedia/commons...,141
6,Black Howler Monkey,Alouatta caraya,Mammal,Diurnal,1.50,2.00,9.0,22.00,18,Tropical forest,"Leaves, flowers and fruit",South America,https://upload.wikimedia.org/wikipedia/commons...,31
7,Plains Zebra,Equus quagga,Mammal,Diurnal,7.00,8.00,385.0,850.00,15,Savannah and woodland,Grass,Eastern and Southern Africa,https://upload.wikimedia.org/wikipedia/commons...,137
8,African Pygmy Falcon,Polihierax semitorquatus,Bird,Diurnal,0.60,0.70,0.1,0.16,7,Savannah,"Insects, lizards, birds and rodents",Eastern and Southern Africa,https://upload.wikimedia.org/wikipedia/commons...,6
9,Okapi,Okapia johnstoni,Mammal,Diurnal,6.20,8.60,400.0,700.00,16,Forest,"Leaves, grass, fruit and fungi","Democratic Republic of Congo, Africa",https://upload.wikimedia.org/wikipedia/commons...,127